// Put any @imports here
// See Readme for a list of supported ones

@import 'foundation';
@import 'font-awesome';
body {
  font-family: 'courier';
}

.formContainer{
  width: 500px;
  margin: 5% auto;
}

.submit{
    border-radius: 20px;
    background-color: white;
    color: black;
    font-family: 'courier';
    border: 1px solid black;
  }


footer{
  border: 1px solid black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: white;
}