// Put any @imports here
// See Readme for a list of supported ones

@import 'bourbon';
@import 'neat';
@import 'font-awesome';

body {
  @include outer-container;
  font-family: 'courier';
}

.container{
   @include outer-container;
   margin: 5% auto;
}

.imageContainer{
  @include span-columns(3);
  @include omega(4n)
  img{
    width: 250px;
    height: 250px;
  }
  .title{
     font-style: italic;
     color: #A4A5A9;
   }
}


// add image page

.formContainer{
  width: 500px;
  margin: 5% auto;
}
.submit{
    border-radius: 20px;
    background-color: white;
    color: black;
    font-family: 'courier';
    border: 1px solid black;
  }
