// Put any @imports here
// See Readme for a list of supported ones

@import 'foundation';

body {
  font-family: 'courier';
}

.formContainer{
  width: 500px;
  margin: 5% auto;
}

.submit{
    border-radius: 20px;
    background-color: white;
    color: black;
    font-family: 'courier';
    border: 1px solid black;
  }